/*DATA- ATTRIBUTE*/
.universe-data li:hover, .olMacDonald li:hover {
    cursor: pointer;
}
.olMacDonald {
    padding: 25px;
    border: 3px solid orange;
    background-image: url("https://images.unsplash.com/photo-1588152850700-c82ecb8ba9b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    width: fit-content;
    color: whitesmoke;
}
/*END DATA- ATTRIBUTE*/