/* OPEN BUTTON*/
.open-button {
    position: fixed;
    padding: 15px 20px;  /*Padding around "text"*/ 
    background-color: #555;
    opacity: 0.8;   /*Works with hover effect, see below*/
    color: white;
    border: none;   /*Remove default border*/
    width: 280px;   /*Set width of button element*/
    cursor: pointer;
    /*Position the button on the bottom-right of the screen:
    bottom: 25px;
    right: 25px;
    */
}
  
/*POPUP FORM*/
.form-popup {
    display: none; /*HIDE BY DEFAULT*/
    position: fixed;
    z-index: 5; /*Ensure it sits on top of other elements*/
    border: 3px solid darkgray;
    /*Use top/bottom/etc position to place the form in a specific location:
    bottom: 0;
    right: 15px;
    */
}

/*FORM CONTAINER*/
.form-container {
    width: 300px;
    max-width: 300px;
    padding: 10px;
    background-color: lightgray;
}
.form-container input{
    box-sizing: border-box; /*Makes the inputs+padding fit within 100% width of parent element*/
    margin: 5px 0 22px 0;
    padding: 15px;
    width: 100%;
    border: none;
    background: #f1f1f1;
}
.form-container input:focus {
    background-color: white;
    outline: none;
}

/*SUBMIT/LOGIN BUTTON */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.75;
}

/* CANCEL BUTTON*/
.form-container .cancel {
    background-color: blue;
}

/* BUTTON HOVER EFFECTS */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}