/*INPUT FORM VALIDATION*/
.input-container {
    margin: 0 auto; /*center the element*/
    padding: 25px;  /*add spacing between the outside edge and the contents*/
    width: fit-content; /*assigns the width to only as wide as whatever is inside the element*/
    border: 4px solid gray; 
    border-radius: 3px; /*rounds the corners of the element*/
    box-shadow: 5px 5px 10px thistle;
    background-image: url("https://cdn.stocksnap.io/img-thumbs/280h/old-letter_GRBHA41KW7.jpg");
    background-size: cover;
    text-align: center;
}
.input-container .input-text {
    text-shadow: 3px 3px 8px ivory;
}
.input-form .input-line {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 75%;
    box-shadow: inset -3px -3px 5px burlywood;
}
.input-form .input-line:hover {
    background-color: rgba(0,0,0,.05);
    box-shadow: 3px 3px 10px ivory, -3px -3px 10px ivory;;
    color: ivory;
}
.input-form .input-submit input{
    border-radius: 10px;
    box-shadow: inset -3px -3px 5px burlywood;
}
.input-form .input-submit input:hover{
    background-color: burlywood;
    box-shadow: inset 3px 3px 5px ivory;
}
/*END INPUT FORM VALIDATION*/